<ion-content>
  <div id="game-board">
    <ion-row id="menu-bar">
      <ion-col size="1">
        <ion-icon name="menu" id="menu-icon" (click)="openMenu()" style="color: #7b16b5"></ion-icon>
      </ion-col>
      <ion-col size="6">
        <img src="../../assets/images/Sqram_Logo.svg" id="title" (click)="goHome()">
      </ion-col>
      <ion-col id="heart-icon" size="5" style="justify-content: flex-end">
        <ion-icon name="heart" style="color: #7b16b5;" (click)='openDonate()' id="donate-icon"></ion-icon>
      </ion-col>
    </ion-row>
    <!--
    <ion-segment (ionChange)="segmentChanged($event)" [value]="boardType" style="width: 80%">
      <ion-segment-button value="friends">
        <ion-label>Friends</ion-label>
      </ion-segment-button>
      <ion-segment-button value="worldwide">
        <ion-label>Worldwide</ion-label>
      </ion-segment-button>
    </ion-segment>-->
    <div>
      <ion-button style="background: url('../../assets/images/Perfects.svg'); background-size:cover" fill="clear" [ngClass]="{'active': activeBoard === 'perfects', 'inactive': activeBoard !== 'perfects'}"
        (click)="switchBoard('perfects')">
      </ion-button>
      <ion-button style="background: url('../../assets/images/Tens.svg'); background-size:cover" fill="clear" [ngClass]="{'active': activeBoard === 'tens', 'inactive': activeBoard !== 'tens'}"
        (click)="switchBoard('tens')">
        
      </ion-button>
    </div>
    <ion-card id="leaderboard-container" *ngIf="activeBoard === 'perfects'" style="width: 95%">
      <ion-row>
        <ion-col size="2">
          RANK
        </ion-col>
        <ion-col size="4">
          PLAYER
        </ion-col>
        <ion-col size="3">
          PERFECTS
        </ion-col>
        <ion-col size="3">
          PERF%
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let player of friends; let i = index" [ngClass]="{'isYou': player.uid === auth.currentUser.uid}">
        <ion-col size="2">
          {{i + 1}}
        </ion-col>
        <ion-col size="4">
          {{player.name}}
        </ion-col>
        <ion-col size="3">
          {{player.stats.perfects || 0}}
        </ion-col>
        <ion-col size="3">
          {{((player.stats.perfects) / (player.timesPlayed)) * 100 || 0 | number:'1.1-1'}}%
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card id="leaderboard-container" *ngIf="activeBoard === 'tens'" style="width: 95%">
      <ion-row>
        <ion-col>
          RANK
        </ion-col>
        <ion-col>
          PLAYER
        </ion-col>
        <ion-col>
          TENS
        </ion-col>
        <ion-col>
          COMP%
        </ion-col>
        <ion-col>
          TTC
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let player of friends; let i = index" [ngClass]="{'isYou': player.uid === auth.currentUser.uid}">
        <ion-col>
          {{i + 1}}
        </ion-col>
        <ion-col style="white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;">
          {{player.name || 0}}
        </ion-col>
        <ion-col>
          {{player.stats.tens || 0 }}
        </ion-col>
        <ion-col>
          {{player.stats.completionRate || 0 | number:'1.1-1'}}%
        </ion-col>
        <ion-col>
          {{player.stats.timeToComplete || 0 | number:'1.1-1'}}s
        </ion-col>
      </ion-row>
    </ion-card>
    <img src="../../assets/images/Friend_Icon.svg" (click)="addFriend()" width="140px" class="hover-effect"/>
    
    <div class="horiz-line" ></div>
    <span class="top-100-title" >Today's Top 10</span>

    <ion-card class="top-100-card">
      <ion-row>
        <ion-col>
          RANK
        </ion-col>
        <ion-col>
          PLAYER
        </ion-col>
        <ion-col>
          TENS
        </ion-col>
        <ion-col>
          COMP%
        </ion-col>
        <ion-col>
          TTC
        </ion-col>
      </ion-row>
      <ion-row class="top-100" *ngFor="let player of top100; let i = index"> <!--ADD ngFor HERE-->
        <ion-col>
          {{ i + 1 }}
        </ion-col>
        <ion-col class="player-name">
          {{ player.name }}
        </ion-col>
        <ion-col>
          {{ player.score }}
        </ion-col>
        <ion-col>
          {{ player.compRate }}
        </ion-col>
        <ion-col>
          {{ player.ttc }}
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>