<ion-content>
  <ion-row id="menu-bar">
    <ion-col id="menu-icon">
    </ion-col>
    <ion-col style="display: flex;
    justify-content: center;">
      <img id="title" src="../../../assets/images/Sqram_Logo.svg" (click)="close()"/>
    </ion-col>
    <ion-col id="heart-icon">
    </ion-col>
  </ion-row>
  <div id="game-screen">
    <span id="title-two">Career Stats</span>
    <div id="stats-box">
      <ion-row>
        <ion-col id="stat">
          <span class="number">{{gameResults.stats.tens || 0}}</span><br>
          <span class="label">Tens</span>
        </ion-col>
        <ion-col id="stat">
          <span class="number">{{gameResults.stats.completionRate || 0 | number:'1.1-1'}}%</span><br>
          <span class="label">Completion Rate</span>
        </ion-col>
        <ion-col id="stat">
          <span class="number">{{gameResults.stats.timeToComplete || 0 | number:'1.1-1'}}s</span><br>
          <span class="label">Time to Complete</span>
        </ion-col>
        <ion-col id="stat">
          <span class="number">{{gameResults.stats.perfects || 0}}</span><br>
          <span class="label">Perfects</span>
        </ion-col>
        <ion-col id="stat">
          <span class="number">{{gameResults.stats.perfectStreaks || 0}}</span><br>
          <span class="label">Perfect Streak</span>
        </ion-col>
      </ion-row>
    </div>
    <div id="stats-break">
      <!--<ion-row>
        <ion-col>Word Solve Rate</ion-col>
        <ion-col>{{gameResults.stats.wordSolveRate || 0}}%</ion-col>
      </ion-row>-->
      <ion-row>
        <ion-col>Games Played</ion-col>
        <ion-col>{{gameResults.timesPlayed || 0}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Solve per Word</ion-col>
        <ion-col>{{gameResults.stats.timePerWord || 0 | number:'1.1-1'}}s</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Hints per Game</ion-col>
        <ion-col>{{(gameResults.hintsUsed / gameResults.timesPlayed) || 0 | number:'1.1-1'}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Skips per Game</ion-col>
        <ion-col>{{(gameResults.skipsUsed / gameResults.timesPlayed) || 0 | number:'1.1-1'}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Max Perfect Streak</ion-col>
        <ion-col>{{gameResults.stats.maxPerfectStreaks || 0}}</ion-col>
      </ion-row>
    </div>
  </div>
  <div id="next-game">
    <p style="font-weight: bold; margin: 0; margin-top: 17px; font-size: 18px;">Next Sqram</p>
      <p style="font-weight: bold; margin: 0; font-size: 18px;">{{timeUntil}}</p>
  </div>
  <div id="close">
    <img src="../../../assets/images/Close_Icon.svg" (click)="close()" width="75px"
       />
  </div>
</ion-content>