.indicator {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #a3a3a3;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.indicator.active {
    height: 15px;
    width: 15px;
    background: #7a16b5;
}

.indicator.skipped {
    height: 15px;
    width: 15px;
    background: rgb(255,254,0);
background: -moz-radial-gradient(circle, rgba(255,254,0,1) 50%, rgb(255, 255, 255) 100%);
background: -webkit-radial-gradient(circle, rgba(255,254,0,1) 50%, rgb(255, 255, 255) 100%);
background: radial-gradient(circle, rgba(255,254,0,1) 50%, rgb(255, 255, 255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffe00",endColorstr="#999996",GradientType=1);
    //background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.indicator.solved {
    height: 15px;
    width: 15px;
    background: #8dc63f;
}