#not-scrollable {
  overflow-y: hidden; // hide vertical
  overflow-x: hidden;
  overflow-y: none; // hide vertical
  overflow-x: none;
  --overflow: hidden;
  --background: #f3f3f3;
}

h1 {
  text-align: center;
}

#timer {
  font-size: 75px;
  font-weight: bolder;
}

@media (max-width: 500px) {
  #ad-sidebar-left {
    display: none;
  }
  #ad-sidebar-right {
    display: none;
  }
  #mobile-ad-slot {
    border: 1px solid black;
    width: 350px;
    height: 90px;
    position: absolute;
    bottom: 5px;
    display: none;
  }
  #game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    border: 1px solid #bcbcbc;
    box-shadow: 0px 7px 20px 0px #bdbdbd;
  }
  #game-board-active {
    padding-top: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border: 1px solid #bcbcbc;
    box-shadow: 0px 7px 20px 0px #bdbdbd;
  }
}

@media (min-width: 501px) {
  #game-container {
    display: flex;
    flex-direction: row;
  }
  #ad-sidebar-left {
    display: none;
    width: 240px;
    height: 720px;
    border: 1px solid black;
    margin:auto
  }
  #ad-sidebar-right {
    display: none;
    width: 240px;
    height: 720px;
    border: 1px solid black;
    margin:auto
  }
  #mobile-ad-slot {
    display: none;
  }
  #game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: auto;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    border: 1px solid #bcbcbc;
    box-shadow: 0px 7px 20px 0px #bdbdbd;
  }
  #game-board-active {
    padding-top: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 500px;
    margin: auto;
    background-color: white;
    border: 1px solid #bcbcbc;
    box-shadow: 0px 7px 20px 0px #bdbdbd;
  }
}




#menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  #heart-icon {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    padding: 5px;
    justify-content: flex-end;
  }
  #donate-icon:before,
  #flag-icon:before,
  #career-icon:before,
  #menu-icon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #donate-icon:hover,
  #flag-icon:hover,
  #career-icon:hover,
  #menu-icon:hover {
    transform: scale(1.1);
  }   

  #menu-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 35px;
  }
}

#final-word-hint {
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bolder;
  margin: 10px;
}

#final-word-container {
  display: flex;
  flex-direction: row;
}

#scramble-word-container {
  display: flex;
  flex-direction: row;
  margin-top: 14rem;
}

#progress-indicator {
  display: flex;
  flex-direction: row;
}

#buttons-container {
  margin-top: 5px;

  ion-button {
    width: 50px;
    height: 50px;
    --color: black;
  }
}

#buttons-container-home {
  margin-top: 5px;

  ion-button {
    width: 50px;
    height: 50px;
    --color: black;
    margin: 3px;
  }
  ion-col {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ion-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

#stats-area {
  width: 100%;
  padding-left: 21px;

  ion-row,
  ion-col,
  p {
    padding: 0;
    margin: 0;
  }

  #words-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    #words {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    #time {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 21px;
    }
  }
}

.minimal-btn {
  box-shadow: 0px 7px 20px 0px #717171;
  border: none;
  background: black;
  border-radius: 10px;
}

button {
  background-color: black;
}

#loader {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 125px;
  text-align: center;
}

#title {
  padding-bottom: 15px;
  width: 120px;
  padding-top: 15px;
  margin-left: 25px;
}

#share-btn {
  margin-top: 25px;
}

#share-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#go-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#next-game {
  text-align: center;

  div {
    font-size: 25px;
  }
}

#today {
  font-size: 18px;
  font-weight: bold;
}

#num-solved {
  font-size: 15px;
  font-weight: bold;
}

.badge {
  width: 30px;
  background-color: black;
  color: white;
  border-radius: 100%;
  padding: 6px;
  height: 30px;
  right: -5px;
  top: 7px;
  position: absolute;
  text-align: center;
}

#motto {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.btn {
  padding: 30px;
  margin: 10px;
  margin-top: 20px;
}
.btn:active {
  transform: scale(1.1);
}

.horiz-line {
  width: 100%; 
  height: 1px; 
  background-color: black; 
  margin-bottom: 15px;
}

.todays-top-10 ion-col {
  font-weight: bold;
  color: black;
}

.todays-top-10-card {
  width: 95%; 
  text-align: center;
}

@media screen and (max-width: 350px) {
  .todays-top-10-card ion-row ion-col {
    font-size: 12px;
  }
}

.login-link {
  cursor: pointer;
  border-bottom: 1px solid;
}