<ion-content [fullscreen]="true" *ngIf="gameResults.active && !loading" id="not-scrollable">
  <div id="game-container">
    <div id="ad-sidebar-left">
      <ng-adsense [adSlot]="8185452401"></ng-adsense>
    </div>
    <div id="game-board-active">
      <div id="timer">
        {{timer}}
      </div>
      <div id="final-word-hint" *ngIf="words.length > 0 && gameResults.active">
        {{words[activeWord].hint}}
      </div>
      <div id="progress-indicator">
        <span *ngFor="let word of words; let index = index;">
          <progress-indicator [active]="activeWord === index" [skipped]="isSkipped(index)" [solved]="isSolved(index)">
          </progress-indicator>
        </span>
      </div>
      <div id="final-word-container">
        <span *ngFor="let letter of finalWord; let index = index">
          <scramble-word-letter [letter]="letter" (childCreated)="sqramFinalChildCreated($event, index)"
            (click)="moveLetterBack(letter, index)" [locked]="isLocked(index)">
          </scramble-word-letter>
        </span>
      </div>

      <div id="scramble-word-container">
        <span *ngFor="let letter of letterArray; let index = index">
          <scramble-word-letter [letter]="letter" (childCreated)="sqramChildCreated($event, index)"
            (click)="moveLetter(letter, index)" id="clickableLetter"></scramble-word-letter>
        </span>
      </div>
      <div id="buttons-container">
        <ion-grid>
          <ion-row>
            <ion-col>
              <span class="badge" *ngIf="getFirstLetter">1</span>
              <ion-button style="background: url('../../assets/images/Hint-First-Letter.svg'); background-size:cover"
                color="dark" fill="clear" class="btn" (click)="firstLetterHint()"
                [disabled]="!getFirstLetter || lockedIndexes.includes(0)">
              </ion-button>
            </ion-col>
            <ion-col>
              <span class="badge" *ngIf="randomLettersAllowed > 0">{{randomLettersAllowed}}</span>
              <ion-button style="background: url('../../assets/images/Hint-Random-Letter.svg'); background-size:cover"
                color="dark" fill="clear" (click)="randomLetterHint()" [disabled]="!getRandomLetter" class="btn">
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button style="background: url('../../assets/images/Shuffle.svg'); background-size:cover" color="dark"
                fill="clear" (click)="shuffle()" class="btn">
              </ion-button>
            </ion-col>
            <ion-col>
              <span class="badge" *ngIf="skipsAllowed > 0">{{skipsAllowed}}</span>
              <ion-button color="dark" fill="clear" (click)="skipWord()" class="btn"
                [disabled]="((!canSkip || activeWord === words.length - 1) && skippedWords.length === 0) || isSkipped(activeWord) || skipsAllowed == 0"
                style="background: url('../../assets/images/Skip.svg'); background-size:cover">
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div id="mobile-ad-slot">
        <ng-adsense [adSlot]="2002391270"></ng-adsense>
      </div>
    </div>
    <div id="ad-sidebar-right">
      <ng-adsense [adSlot]="8185452401"></ng-adsense>
    </div>
  </div>
</ion-content>
<ion-content *ngIf="!gameResults.active && !loading" style="background: #d1d2d3;" scroll="true">
  <div id="game-container">
    <div id="ad-sidebar-left">
      <ng-adsense [adSlot]="8185452401"></ng-adsense>
    </div>
    <div id="game-board">
      <ion-row id="menu-bar">
        <ion-col size="1">
          <ion-icon id="menu-icon" name="menu" (click)="openMenu()" style="color: #7b16b5"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <img src="../../assets/images/Sqram_Logo.svg" id="title" width>
        </ion-col>
        <ion-col id="heart-icon" size="5">

          <img src="../../assets/images/Career-Stats.svg" width="35px" (click)="goToCareer()" id="career-icon" />

          <img src="../../assets/images/Leaderboard.svg" width="35px" (click)="goToLeaderboard()" id="flag-icon" />

          <ion-icon name="heart" style="color: #7b16b5" (click)='openDonate()' id="donate-icon"></ion-icon>
        </ion-col>
      </ion-row>
      <span id="today">Sqram #{{puzzleNum}}</span>
      <span id="num-solved"
        *ngIf="words.length > 0 && secondsPerWord.length > 0 && haventPlayedToday() && isStateToday()">{{getStatus()}}</span>

      <div id="stats-area" *ngIf="words.length > 0 && haventPlayedToday() && isStateToday()">
        <ion-row *ngFor="let word of words; let i = index" id="words-container" style="    margin-bottom: -10px;">
          <ion-col id="words"
            [ngStyle]="{'color': !secondsPerWord[i] ? 'red' : powerupsUsed[i] && (powerupsUsed[i].includes('flh') || powerupsUsed[i].includes('rlh')) ? 'goldenrod' : 'black'}">
            <span style="display: flex;
          flex-direction: row;
          align-items: center; white-space: nowrap;">
              <span style="width: 60%">
                <p>
                  {{word.text}}
                  <span style="margin-left: 6px; width: 40%; white-space: nowrap;">

                    <span *ngIf="anyLetterUsed[i] > 0 || firstLetterUsed[i] > 0">
                      <ion-icon name="bulb" style="font-size: 20px;"></ion-icon>x{{(firstLetterUsed[i] || 0) +
                      (anyLetterUsed[i] || 0)}}
                    </span>
                    <span *ngIf="skipsUsedPerWord[i] > 0">
                      <ion-icon name="play-forward" style="font-size: 20px;"></ion-icon>x{{skipsUsedPerWord[i]}}
                    </span>

                  </span>
                </p>
                <p style="font-size: 13px;">{{word.hint}}</p>
              </span>


            </span>
            <br>
          </ion-col>
          <ion-col id="time">
            <span *ngIf="secondsPerWord[i] && (solvedWords[i] || solvedWords[i] === 0)"
              [ngStyle]="{'color': !secondsPerWord[i] ? 'red' : powerupsUsed[i] && (powerupsUsed[i].includes('flh') || powerupsUsed[i].includes('rlh')) ? 'goldenrod' : 'black'}">{{secondsPerWord[i]
              | pipes}}s</span>
            <span *ngIf="!secondsPerWord[i]" style="color: red">DNF</span>
          </ion-col>
        </ion-row>
        <ion-row id="words-container" style="margin-top: 25px">
          <ion-col id="words">
            <p style="font-weight: bold">Time to Complete:</p>
            <p style="font-weight: bold">Solve per Word:</p>
          </ion-col>
          <ion-col id="time">
            <p
              *ngIf="solvedWords.length === words.length && !solvedWords.includes(null) && !solvedWords.includes(undefined)">
              {{secondsPerWord | cumulate}}s
            </p>
            <p *ngIf="solvedWords.length !== words.length || (solvedWords.includes(null) || solvedWords.includes(undefined))"
              style="color: red">DNF</p>

          <p>{{secondsPerWord | average}}s</p>
        </ion-col>
      </ion-row>
    </div>
    <ion-row style="display: flex; align-items: center;">
      <ion-col style="margin: 10px;">
        <span id="next-game" *ngIf="words.length > 0 && haventPlayedToday()">
          <p style="font-weight: bold; margin: 0;">Next Sqram</p>
          <p style="font-weight: bold; margin: 0; font-family: 'Roboto Mono', monospace;">{{timeUntil}}</p>
        </span>
      </ion-col>
      <ion-col style="margin: 10px;" *ngIf="haventPlayedToday() && isStateToday()">
        <img id="share-btn" src="../../assets/images/Share_Icon.svg" (click)="shareStats()" width="95px"
          style="margin-top: 5px" />
      </ion-col>
    </ion-row>

    <!--TODAYS TOP 10-->
    <div class="horiz-line" *ngIf="haventPlayedToday()"></div>
    <span id="today" *ngIf="haventPlayedToday()">TODAY'S TOP 10</span>

    <ion-card style="width: 95%; text-align: center;" *ngIf="haventPlayedToday()">
      <ion-row>
        <ion-col size="3">
          PLAYER
        </ion-col>
        <ion-col size="3">
          SCORE
        </ion-col>
        <ion-col size="3">
          TTC
        </ion-col>
        <ion-col size="3">
          SPW
        </ion-col>
      </ion-row>
      <ion-row class="todays-top-10" *ngFor="let player of todaysTop10;"> <!--ADD ngFor HERE-->
        <ion-col size="3">
          {{ player.name }}
        </ion-col>
        <ion-col size="3">
          {{ player.score }}
        </ion-col>
        <ion-col size="3">
          {{ player.ttc }}
        </ion-col>
        <ion-col size="3">
          {{ player.spw }}
        </ion-col>
      </ion-row>
    </ion-card>
    <div class="horiz-line" *ngIf="haventPlayedToday()"></div>

    <ion-row *ngIf="words.length > 0 && haventPlayedToday()">
      <ion-col>
        <app-kofi-btn></app-kofi-btn>
      </ion-col>
    </ion-row>

    <span id="home-screen">
      <div id="motto" *ngIf="!haventPlayedToday()">
        Unsqramble today's words <br>
        before time runs out
      </div>

        <div id="buttons-container-home" *ngIf="!haventPlayedToday()">
          <ion-grid>
            <ion-row>
              <ion-button style="background: url('../../assets/images/Hint-First-Letter.svg'); background-size:cover"
                color="dark" fill="clear" class="btn" [disabled]="!getFirstLetter || lockedIndexes.includes(0)">
              </ion-button>
              <ion-button style="background: url('../../assets/images/Hint-Random-Letter.svg'); background-size:cover"
                color="dark" fill="clear" [disabled]="!getRandomLetter" class="btn">
              </ion-button>
              <ion-button style="background: url('../../assets/images/Shuffle.svg'); background-size:cover" color="dark"
                fill="clear" class="btn">
              </ion-button>
              <ion-button color="dark" fill="clear" class="btn"
                [disabled]="((!canSkip || activeWord === words.length - 1) && skippedWords.length === 0) || isSkipped(activeWord) || skipsAllowed == 0"
                style="background: url('../../assets/images/Skip.svg'); background-size:cover">
              </ion-button>
            </ion-row>
          </ion-grid>
          <span style="text-align: center; display: block; margin: auto; width: 70%;">
            Use assists to reveal letters, <br> shuffle tiles, or skip words
          </span>

          <img src="../../assets/images/Perfects.svg" width='110px'
            style="margin: auto; display: block; padding-top: 15px;" />

          <span style="text-align: center; display: block; margin: auto; width: 100%;">
            Score a PERFECT! if you solve ten
            words <br> without using letter-revealing assists
          </span>
        </div>

        <img src="../../assets/images/Go!.svg" (click)="startGame()" *ngIf="!haventPlayedToday()" width="75px"
          style="display: block; margin: auto; margin-top: 45px;" id="go-btn" />
      </span><!--style="position: absolute; left: 50%; transform: translate(-50%, -50%); bottom: 5%" -->
      
      <div id="mobile-ad-slot">
        <ng-adsense [adSlot]="2002391270"></ng-adsense>
      </div>
    </div>
    <div id="ad-sidebar-right">
      <ng-adsense [adSlot]="8185452401"></ng-adsense>
    </div>
  </div>
</ion-content>
<ion-content *ngIf="loading">
  <ng-adsense [adSlot]="8185452401"></ng-adsense>
  <div id="loader">
    <ion-spinner>

    </ion-spinner>
  </div>
</ion-content>