#not-scrollable {
  overflow-y: hidden; // hide vertical
  overflow-x: hidden;
  overflow-y: none; // hide vertical
  overflow-x: none;
  --overflow: hidden;
  --background: #fcfcfc;
}

h1 {
  text-align: center;
}

#timer {
  font-size: 75px;
  font-weight: bolder;
}

@media (max-width: 500px) {
  #game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: 501px) {
  #game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: auto;
  }
}


#game-board-active {
  margin-top: 45px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  #heart-icon {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: space-around;
  }

  #donate-icon:hover,  #flag-icon:hover, #career-icon:hover, #menu-icon:hover {
    transform: scale(1.1);
  }
  #menu-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 35px;
  }
}

#final-word-hint {
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bolder;
  margin: 10px;
}

#final-word-container {
  display: flex;
  flex-direction: row;
}

#scramble-word-container {
  display: flex;
  flex-direction: row;
  margin-top: 14rem;
}

#progress-indicator {
  display: flex;
  flex-direction: row;
}

#buttons-container {
  margin-top: 5px;

  ion-button {
    width: 50px;
    height: 50px;
    --color: black;
  }
}

#stats-area {
  width: 100%;
  padding-left: 50px;

  ion-row,
  ion-col,
  p {
    padding: 0;
    margin: 0;
  }

  #words-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    #words {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    #time {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.minimal-btn {
  box-shadow: 0px 7px 20px 0px #717171;
  border: none;
  background: black;
  border-radius: 10px;
}

button {
  background-color: black;
}

#loader {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 125px;
  text-align: center;
}

#title {
  font-family: Marker Felt, fantasy;
  font-size: 50px;
  text-shadow: 0px 7px 10px #bababa;
  color: #004b4d;
  padding-bottom: 15px;
}

#share-btn {
  margin-top: 25px;
}

#next-game {
  text-align: center;
  div {
    font-size: 25px;
  }
}

#today {
  font-size: xx-large;
  font-weight: bold;
}

#num-solved {
  font-size: 20px;
  font-weight: bold;
}

.badge {
  width: 30px;
  background-color: black;
  color: white;
  border-radius: 100%;
  padding: 7px;
  height: 30px;
  right: -5px;
  top: -5px;
  position: absolute;
  text-align: center;
}

#motto {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.btn:active {
  transform: scale(1.1);
}